<%= form_for(@task) do |f| %>
<% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

  <ul>
    <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field form-group">
  <%= f.label :flow, "Flow Number" %>
    <%= f.text_field :flow, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :product, "Model Number" %>
  <%= f.text_field :product, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :doc_type, "Document Type" %>
  <%= f.select :doc_type, options_for_select(%w(Datasheet QIG Manual)), {}, {class: "form-control"} %>
</div>
<!--   <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %> 
  </div>-->
<!-- <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %> 
  </div>-->
<!--   <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(%w(Queued In\ Progress Pending)) %> 
  </div> -->
  <div class="field form-group">
    <%= f.label :region %>
    <%= f.text_field :region, value: "HQ", class: "form-control" %>
  </div>
<!--   <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %> 
  </div>-->
<!--   <div class="field">
    <%= f.label :draft %><br>
    <%= f.number_field :draft %> 
  </div>-->
<!--   <div class="field">
    <%= f.label :draft_submitted %><br>
    <%= f.date_select :draft_submitted %> 
  </div>-->
<!--   <div class="field">
    <%= f.label :completion_date %><br>
    <%= f.date_select :completion_date %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %> 
  </div>-->
  <div class="actions">
    <%= f.submit "Add Task", class: "btn btn-primary" %>
  </div>

  <% end %>
