<table class="table table-hover">
  <thead>
    <tr>
      <th>Flow</th>
      <th>Document</th>
      <th>Start date</th>
      <th>Status</th>

      <% if unassigned %>
      <th>Writer</th>
            <th>Reviewer</th>
      <th colspan="3"></th>
      <% else %>
      <th>Latest Draft</th>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
    <tr>
      <td><%= task.flow %></td>
      <td><%= "#{task.product} #{task.revision} #{task.doc_type} #{task.version} (#{task.region})" %></td>
      <td><%= task.start_date %></td>
      <td><%= task.status %></td>
      <% if unassigned %>
        <%= form_for task do |f| %>
      <td>        
        <%= f.select :writer_id, options_for_select({ "Unassigned" => nil }.merge(User.get_options_for_select), @task.writer_id), {}, {class: "form-control"} %>        
        </td>
        <td>
        <%= f.select :reviewer_id, options_for_select({ "None" => nil }.merge(User.get_options_for_select), @task.reviewer_id), {}, {class: "form-control"} %>
        </td>
        <td>
        <%= f.submit "Assign", { class: "btn btn-default" } %>
        <% end %>
        <% else %>
        <td>
        <% if task.draft and task.draft_submitted %>
        <%= "Draft #{task.draft} (#{task.days_since_draft} #{'day'.pluralize(task.days_since_draft)} ago)" %>
        <% end %>
        <% end %>
      </td>      
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>