<h1>Edit Task</h1>

<%= form_for(@task) do |f| %>

<%= render 'error_messages' %>

<h3>Update Task Status</h3>


<div class="field form-group">
  <%= f.label :status, "Status" %>
  <%= f.select :status, options_for_select(%w(Queued In\ Progress Pending), @task.status), {}, {class: "form-control"} %>
</div>
<div class="field form-group">
  <%= f.label :draft, "Latest Draft" %>
  <%= f.number_field :draft, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :draft_submitted, "Draft Submitted" %>
  <%= f.date_field :draft_submitted, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :notes, "Notes" %>
  <%= f.text_area :notes, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :done, "Done" %><br>
  <%= f.check_box :done %>
</div>
<div class="field form-group">
  <%= f.label :completion_date, "Completion Date" %>
  <%= f.date_field :completion_date, class: "form-control" %>
</div>

<br>
<h3>Edit Task Details</h3>

<div class="field form-group">
  <%= f.label :writer_id, "Writer" %>
  <%= f.select :writer_id, options_for_select({ "Unassigned" => nil }.merge(User.get_options_for_select), @task.writer_id), {}, {class: "form-control"} %>
</div>

<div class="field form-group">
  <%= f.label :reviewer_id, "Peer Reviewer" %>
  <%= f.select :reviewer_id, options_for_select({ "None" => nil }.merge(User.get_options_for_select), @task.reviewer_id), {}, {class: "form-control"} %>
</div>

<div class="field form-group">
  <%= f.label :start_date, "Start Date" %>
  <%= f.date_field :start_date, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :flow, "Flow Number" %>
  <%= f.text_field :flow, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :product, "Model Number" %>
  <%= f.text_field :product, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :revision, "Hardware Revision" %>
  <%= f.text_field :revision, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :doc_type, "Document Type" %>
  <%= f.select :doc_type, options_for_select(%w(Datasheet QIG Manual), @task.doc_type), {}, {class: "form-control"} %>
</div>
<div class="field form-group">
  <%= f.label :version, "Document Version" %>
  <%= f.text_field :version, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :region %>
  <%= f.text_field :region, class: "form-control" %>
</div>

<div class="actions">
  <%= f.submit "Save Changes", class: "btn btn-primary" %>
</div>
<% end %>
