

<p id="notice"><%= notice %></p>
<h1>Tasks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Flow</th>
      <th>Document</th>
      <th>Start date</th>
      <th>Status</th>
      <th>Draft</th>
      <th>Draft submitted</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.order(:priority).each do |task| %>
    <tr>
      <td><%= task.flow %></td>
      <td><%= "#{task.product} A1 #{task.doc_type} 01 (#{task.region})" %></td>
      <td><%= task.start_date %></td>
      <td><%= task.status %></td>
      <td><%= task.draft %></td>
      <td><%= task.draft_submitted %></td>
      <td><%= task.notes %></td>
      <td><%= link_to 'Show', task %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>New Task</h3>

<%= render 'form' %>