
<h1><%= @user.name %>'s Tasks</h1>

<div class="headings">
  <div class="h-plus-minus"></div>
  <div class="h-task"><h3>Document</h3></div>
  <div class="h-flow"><h3>Flow</h3></div>
  <div class="h-status"><h3>Status</h3></div>
  <div class="h-draft"><h3>Latest Draft</h3></div>
</div>



<div class="panel-group" id="remaining-tasks">
  <div class="panel panel-default">
    <% @remaining_tasks.each do |task| %>

    <div class="panel-heading">

      <a data-toggle="collapse" href="#collapse-<%= task.id %>" data-parent="#remaining-tasks">
        <div class="plus-minus">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
      </a>
      <div class="task-name">    
        <span>
          <%= task.name %>
        </span>
      </div>
      <div class="flow">
        <span>
          <%= task.flow %>
        </span>
      </div>

      <!-- Status -->
      <div class="status">
        <%= form_for task do |f| %>
        <%= f.select :status, options_for_select(%w(Queued In\ Progress Pending), task.status), {}, { onchange: "this.form.submit()", class: "form-control" } %>
        <% end %>  
      </div>    

      <!-- Draft -->
      <div class="draft">
        <%= form_for task do |f| %> 
        <%= f.hidden_field :draft, value: task.draft ? task.draft + 1 : 1 %>
        <%= f.hidden_field :draft_submitted, value: Date.today %>
        <%= f.hidden_field :status, value: "Pending" %>
        <%= f.submit "Draft Sent", class: "btn btn-default" %>      
        <% end %>

        <% if task.draft and task.draft_submitted %>
        <span>Draft <strong><%= task.draft %></strong> (<%= days_ago task.draft_submitted %>)</span>
        <% end %> 
      </div>      

    </div>

    <div id="collapse-<%= task.id %>" class="panel-collapse collapse">
      <div class="panel-body">  

        <!-- Icons -->
        <div class="task-actions">
          <!-- Done -->
          <div class="done">
            <%= form_for task do |f| %>
            <%= f.hidden_field :done, value: true %>
            <%= f.hidden_field :completion_date, value: Date.today %>
            <%= f.button type: "submit", class: "btn btn-default", data: { confirm: 'Are you sure?'} do %>
            <span class="glyphicon glyphicon-ok"></span> Done
            <% end %>
            <% end %>       
          </div>
          <%= link_to edit_task_path(task) do %>
          <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit Task"></span>
          <% end %>

          <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete Task"></span>
          <% end %>          
        </div>

        <div class="task-info">

          <div class="start-date">
            <span>Start Date: </span>
            <strong><%= task.start_date.strftime("%B #{task.start_date.day.ordinalize}") %></strong>
          </div>

          <!-- Peer Review -->
          <div class="peer-review">
            <% if task.reviewer_id.nil? %>
            <span>Peer Reviewer: </span>
            <%= form_for task do |f| %>
            <%= f.select :reviewer_id, options_for_select({ "None" => nil }.merge(User.get_options_for_select.except(@user.name)), task.reviewer_id), {}, { onchange: "this.form.submit()", class: "form-control" } %>
            <% end %>
            <% elsif task.review_status == "Reviewed" %>
            <span class="glyphicon glyphicon-ok"></span>
            Peer reviewed by <strong><%= task.reviewer %></strong>
            <% elsif task.review_status == "Sent" %>
            Sent to <strong><%= task.reviewer %></strong> for PR <%= task.review_sent_date.nil? ? "" : "(#{days_ago task.review_sent_date})" %>
            <% else %>
            <%= form_for task do |f| %>
            <%= f.hidden_field :review_status, value: "Sent" %>
            <%= f.hidden_field :review_sent_date, value: Date.today %>
            <%= f.submit "Send to #{task.reviewer} for PR", class: "btn btn-default" %>      
            <% end %> 
            <% end %>    
          </div>  

        </div>

        <!-- Notes -->
        <div class="notes">
          <p><strong>Notes</strong></p>
          <%= form_for task do |f| %>
          <%= f.submit "Save", { class: "btn btn-default" } %>
          <%= f.text_area :notes %>          
          <% end %> 
        </div>        
      </div>
    </div>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">

    <%= render 'shared/new_form' %>

  </div>
</div>

<br>

<h2>Peer Reviews</h2>

<div class="headings">  
  <div class="h-task"><h3>Document</h3></div>
  <div class="h-flow"><h3>Flow</h3></div>
  <div class="h-writer"><h3>Writer</h3></div>
  <div class="h-status"><h3>Status</h3></div>
  <div class="h-sent"><h3>Sent?</h3></div>
</div>

<div class="panel-group" id="remaining-tasks">
  <div class="panel panel-default">
    <% @peer_reviews.each do |task| %>

    <div class="panel-heading">

      <div class="task-name">    
        <span>
          <%= task.name %>
        </span>
      </div>
      <div class="flow">
        <span>
          <%= task.flow %>
        </span>
      </div>
      <div class="task-writer">    
        <span>
          <%= task.writer %>
        </span>
      </div>
      <div class="status">
        <%= task.status %> 
      </div>

      <div class="sent">
        <span class="<%= task.review_status == 'Not Sent' ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok' %>"></span>
        <% if task.review_sent_date %>
        <%= " (#{days_ago task.review_sent_date})" %>
        <% end %>
      </div>

      <div class="pr-done">
        <%= form_for task do |f| %>
        <%= f.hidden_field :review_status, value: "Reviewed" %>
        <%= f.hidden_field :review_date, value: Date.today %>
        <%= f.submit "Peer Review Done", { class: "btn btn-default", data: { confirm: 'Are you sure?'} } %>
        <% end %>
      </div>

    </div>
    <% end %>
  </div>
</div>

<br>

<h2>Completed Tasks</h2>

<div class="headings">  
  <div class="h-task"><h3>Document</h3></div>
  <div class="h-flow"><h3>Flow</h3></div>
  <div class="h-completion-date"><h3>Completion Date</h3></div>
</div>

<div class="panel-group" id="remaining-tasks">
  <div class="panel panel-default">
    <% @finished_tasks.each do |task| %>
    <div class="panel-heading">

      <div class="task-name">    
        <span>
          <%= task.name %>
        </span>
      </div>
      <div class="flow">
        <span>
          <%= task.flow %>
        </span>
      </div>
      <div class="completion-date">
        <span>
          <%= task.completion_date.strftime("%B #{task.start_date.day.ordinalize}") or '' %>
        </span>
      </div>

      <div class="resurrect">
        <%= form_for task do |f| %>
        <%= f.hidden_field :done, value: false %>
        <%= f.hidden_field :completion_date, value: nil %>
        <%= f.submit "Resurrect", { class: "btn btn-default", data: { confirm: 'Are you sure?'} } %>
        <% end %>
      </div>

      <div class="task-actions"
      <%= link_to edit_task_path(task) do %>
      <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit Task"></span>
      <% end %>

      <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete Task"></span>
      <% end %>  
    </div> 

  </div>
  <% end %>
</div>
</div>