<h3>New Task</h3>

<%= form_for(@task) do |f| %>

<%= render 'error_messages' %>

<div class="field form-group">
  <%= f.label :flow, "Flow Number" %>
  <%= f.text_field :flow, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :product, "Model Number" %>
  <%= f.text_field :product, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :revision, "Hardware Revision" %>
  <%= f.text_field :revision, value: "A1", class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :documents do %>
  <%= f.check_box :documents, { multiple: true }, "Datasheet", nil %>
  <span>Datasheet</span>
  <% end %>
  </div>
  <div class="field form-group">
  <%= f.label :documents do %>
  <%= f.check_box :documents, { multiple: true }, "QIG", nil %>
  <span>QIG</span>
  <% end %>
  </div>
  <div class="field form-group">
  <%= f.label :documents do %>
  <%= f.check_box :documents, { multiple: true }, "Manual", nil %>
  <span>Manual</span>
  <% end %>
</div>
<div class="field form-group">
  <%= f.label :version, "Document Version" %>
  <%= f.text_field :version, value: "01", class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :region %>
  <%= f.text_field :region, value: "HQ", class: "form-control" %>
</div>

<div class="actions">
  <%= f.submit "Add Task", class: "btn btn-primary" %>
</div>

<% end %>

<br>