<!DOCTYPE html>
<html>
<head>
	<title>HqStatus</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<div class="jumbotron">

			<div class="links">
				<ul>
					<% if logged_in? %>
					<li>Logged in as: <strong><%= current_user.name %></strong></li>
					<li><%= link_to "Edit User Details", edit_user_path(current_user) %></li>
					<li><%= link_to "Task List", current_user %></li>
					<% if current_user.admin %>
					<li><%= link_to "Tasks Admin", tasks_path %></li>
					<li><%= link_to "Users Admin", users_path %></li>
					<% end %>
					<li><%= link_to "Log Out", logout_path, method: "delete" %></li>
					<% else %>
					<h4><%= link_to "Sign Up", new_user_path %> | <%= link_to "Log In", login_path %></h4>
					<% end %>
				</ul>
			</div>

			<p id="notice"><%= notice %></p>
			<p id="alert"><%= alert %></p>
			<%= yield %>
		</div>
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
