<!DOCTYPE html>
<html>
<head>
	<title>HqStatus</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
	<%= render 'layouts/navbar' %>


		<div class="jumbotron">
			<p id="notice"><%= notice %></p>
			<p id="alert"><%= alert %></p>
			<%= yield %>
		</div>
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
